<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="add-inventory">
    <h2>All fields are required</h2>
    <form action="inv/addinv" method="post">
        <label for="classificationList">Classification</label>
        <%- selectClassification %>
        <label for="make">Make</label>
        <input type="text" id="make" name="inv_make" placeholder="Min 3 character" pattern="^[A-Za-z ]{3,}$" required value="<%= locals.inv_make %>">
        <label for="model">Model</label>
        <input type="text" id="Model" name="inv_model" placeholder="Min 3 character" pattern="^[A-Za-z ]{3,}$" required value="<%= locals.inv_model %>">
        <label for="description">Description</label>
        <textarea name="inv_description" rows="3" cols="15" minlength="5" required value="<%= locals.inv_description %>"></textarea>
        <label for="img-path">Image Path</label>
        <input type="text" id="img-path" name="inv_image" required value="/images/vehicles/no-image.png">
        <label for="thmb-path">Thumbnail Path</label>
        <input type="text" id="thmb-path" name="inv_thumbnail" required value="/images/vehicles/no-image-tn.png">
        <label for="price">Price</label>
        <input type="text" id="price" name="inv_price" placeholder="decimal or integer" pattern="^\d+(\.\d+)?$" required value="<%= locals.inv_price %>">
        <label for="miles">Miles</label>
        <input type="text" id="miles" name="inv_miles" placeholder="only number" pattern="^\d{2,}$" required value="<%= locals.inv_miles %>">
        <label for="year">Year</label>
        <input type="text" id="year" name="inv_year" placeholder="only number" pattern="^\d{4}$" required value="<%= locals.inv_year %>">
        <label for="color">Color</label>
        <input type="text" id="color" name="inv_color" pattern="^[A-Za-z]{3,}$" required value="<%= locals.inv_color %>">
        <input type="submit" value="Add Vehicle">
    </form>
</div>